body {
	background-color: #CAEBFC;
	font-family: "Arial";
	color: #0095E6;
}

h1 {
    font-size: 30px;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
    position: relative;
	border: 1px solid;
	border-radius: 4px;
	width: 300px;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}

li:hover {
	-moz-box-shadow: -7px 8px 8px -5px #999;
    -webkit-box-shadow: -7px 8px 8px -5px #999;
    -o-box-shadow: -7px 8px 8px -5px #999;
    box-shadow: -7px 8px 8px -5px #999;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 450px;
}

.button {
    background-color:#74DDFC;
    bottom: 25px;
	border: 1px solid;
	border-radius: 4px;
    position:absolute;
    width: 90px;
    height: 45px;
}

.button:hover{
    background-color:#52D1F7;
}

.button p{
    text-align: center;
}

#yes.button {
    left: 20%;
}

#no.button {
    right: 20%;
}

.closeX {
    position: absolute;
    right: -4px; top: 0px; width: 20px;
}

.closeX:hover {
    color:red;
    cursor: default;
    right: -5px; top: -1px;
    -webkit-transition:color 500ms ease;  
}

.confirmBox {
    background-color: rgba(202,235,252,1.0);
    border: 3px solid;
    border-radius: 4px;
    height: 175px;
    padding: 40px;
    position: fixed;
    top: 30%;
    left: 30%;
}

.gray-out {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(112,138,144,0.5);
}
